<div class="row my-auto justify-content-between" id="spacearound">
  <div class="col">
    <div class="card  d-inline-block">
      <div class="card-body">
        <div class="d-flex flex-column">
          <span style="font-size: xx-large"><strong>{{data.InProgress}}</strong></span>
          <span><small>In Progress</small></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  d-inline-block">
      <div class="card-body">
        <div class="d-flex flex-column">
          <span style="font-size: xx-large"><strong>{{data.Completed}}</strong></span>
          <span><small>Completed</small></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  d-inline-block">
      <div class="card-body">
        <div class="d-flex flex-column">
          <span style="font-size: xx-large"><strong>{{data.Cancelled}}</strong></span>
          <span><small>Total Records</small></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  d-inline-block">
      <div class="card-body">
        <div class="d-flex flex-column">
          <span style="font-size: xx-large"><strong>{{data.Total}}</strong></span>
          <span><small>Total Records</small></span>
        </div>
      </div>
    </div>
  </div>
</div>
