<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-1">
        <p>In progress</p>
        <h3>{{data.InProgress}}</h3>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-2">
        <p>Completed</p>
        <h3>{{data.Completed}}</h3>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-3">
        <p>Cancelled</p>
        <h3>{{data.Cancelled}}</h3>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-4">
        <p>Total</p>
        <h3>{{data.Total}}</h3>
      </div>
    </div>
  </div>
</div>
