<!-- Table -->

  <div class="col">
    <div class="card shadow">
<!--      <div class="card-header border-0">-->
<!--        <h3 class="mb-0">Card tables</h3>-->
<!--      </div>-->
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Action Name</th>
            <th scope="col">Task Name</th>
            <th scope="col">Created</th>
            <th scope="col" class="text-right">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor ="let data of tabledata">
            <th scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <span class="mb-0 text-sm">{{data.id}}</span>
                </div>
              </div>
            </th>
            <td>
              {{data.actionName}}
            </td>
            <td>
              {{data.taskName}}
            </td>
            <td>
              {{data.createdTime}}
            </td>
            <td class="text-right">
              {{data.status}}
            </td>
          </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>

